@model DrustveneMrezev3.Models.ShowUserInformationViewModel
@{
    ViewBag.Title = "ShowUserInformation";
}

<h2>@Model.FullName</h2>

<div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.LabelFor(m => m.FirstName)</h3>
        </div>
        <div class="panel-body">
            @Model.FirstName
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.LabelFor(m => m.LastName)</h3>
        </div>
        <div class="panel-body">
            @Model.LastName
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.LabelFor(m => m.Email)</h3>
        </div>
        <div class="panel-body">
            @Model.Email
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.LabelFor(m => m.Birthday)</h3>
        </div>
        <div class="panel-body">
            @Html.DisplayFor(m => m.Birthday)
        </div>
    </div>
</div>

