@model DrustveneMrezev3.Models.ShowMovieInformationViewModel
@{
    ViewBag.Title = "ShowMovieInformation";
}



<div class="jumbotron">
    <input type="hidden" id="movieId" value="@Model.ID">
    <input type="hidden" id="movieLiked" value="@Model.Liked">
   
    <div class="row">
        <div class="col-xs-4" id="posterRow">
            @if (Model.Poster == "N/A" || Model.Poster == "")
            {
                <i>No image.</i>
            }
            else
            {
                <img class="movieInformationPicture" id="poster" src=@Model.Poster />
            }


            <p>
                <span>
                    @if (Model.Liked == true)
                    {
                        <div id="movieIsLiked">
                            <button id="liked" class="btn btn-primary btn-sm" disabled="disabled"><span class="glyphicon glyphicon-ok-circle"> Liked</span></button>
                            <button id="dislike" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-circle"> Dislike</span></button>
                        </div>

                        <div id="movieIsNotLiked" hidden>
                            <button id="like" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-heart"> Like</span></button>
                        </div>
                    }
                    else
                    {
                        <div id="movieIsLiked" hidden>
                            <button id="liked" class="btn btn-primary btn-sm" disabled="disabled"><span class="glyphicon glyphicon-ok-circle"> Liked</span></button>
                            <button id="dislike" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-circle"> Dislike</span></button>
                        </div>

                        <div id="movieIsNotLiked">
                            <button id="like" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-heart"> Like</span></button>
                        </div>
                    }



                </span>
            </p>
        </div>
        <div class="col-xs-8">
            <div class="panel panel-default" id="movieInformation">
                <div class="panel-body panel-info" id="movieInformationBody">
                    <h3><b>@Model.Title (@Model.Released.Year)</b></h3>
                    <hr>
                    <p>
                        <div>
                            <b>@Html.LabelFor(x => x.Director)</b> : <span style="border-radius: 4px; margin-right: 4px; background-color: #eee; padding: 0 4px;">@Model.Director</span>
                        </div>
                        <div>
                            @{ int actor_counter = 0; }
                            <b>@Html.LabelFor(x => x.Actors)</b> : @foreach (var actor in Model.Actors)
                            {
                                actor_counter++;
                                if (actor_counter >= 10) { break; }
                                <span style="border-radius: 4px; margin-right: 4px; background-color: #eee; padding: 0 4px;">@actor</span>
                            }
                        </div>
                        <div>
                            <b>@Html.LabelFor(x => x.Genres)</b> : @foreach (var genre in Model.Genres)
                            {
                                <span style="border-radius: 4px; margin-right: 4px; background-color: #eee; padding: 0 4px;">@genre</span>
                            }
                        </div>
                        <div>
                            <b>@Html.LabelFor(x => x.Language)</b> : @Model.Language
                        </div>
                        <div>
                            <b>@Html.LabelFor(x => x.Runtime)</b> : @Model.Runtime min
                        </div>
                    </p>
                    <hr>
                    <p>
                        @{
                            var avgUserRating = "-";
                            if (@Model.AvgUserRating != 0)
                            {
                                avgUserRating = @Model.AvgUserRating.ToString();
                            }
                        }
                        <img id="ratingIcon" src="~/Resources/imdb.png"/> @Model.ImdbRating &nbsp; <img id="ratingIcon" src="~/Resources/tmdb.png"/> @Model.TmdbRating &nbsp; <img id="ratingIcon" src="~/Resources/starFull.png" /> <span id="userRatingRefresh">@avgUserRating</span>
                    </p>

                    @if (Model.Liked == true)
                    {
                        <div id="showRating">
                            <strong class="choice">Rate movie:</strong>

                            <span class="star-rating" id="ratingStar">
                                @{
                                    var i = 1;
                                    while (i < Model.UserRating)
                                    {
                                        <input type="radio" name="rating" value="@i">
                                        <i></i>
                                        i++;
                                    }
                                    if (i == Model.UserRating)
                                    {
                                        <input checked="checked" type="radio" name="rating" value="@i">
                                        <i></i>
                                        i++;
                                    }
                                    while (i < 6)
                                    {
                                        <input type="radio" name="rating" value="@i">
                                        <i></i>
                                        i++;
                                    }
                                }

                            </span>
                        </div>

                        <div id="dntShowRating" hidden>
                            <span>In order to rate a movie You must first like it.</span>
                        </div>
                    }
                    else
                    {
                        <div id="showRating" hidden>
                            <strong class="choice">Rate movie:</strong>

                            <span class="star-rating" id="ratingStar">
                                @{
                        var i = 1;
                        while (i < Model.UserRating)
                        {
                            <input type="radio" name="rating" value="@i">
                                    <i></i>
                            i++;
                        }
                        if (i == Model.UserRating)
                        {
                            <input checked="checked" type="radio" name="rating" value="@i">
                                    <i></i>
                            i++;
                        }
                        while (i < 6)
                        {
                            <input type="radio" name="rating" value="@i">
                                    <i></i>
                            i++;
                        }
                                }

                            </span>
                        </div>

                        <div id="dntShowRating">
                            <span>In order to rate a movie You must first like it.</span>
                        </div>
                    }

                    <hr>
                    <p>
                        @Model.Plot
                    </p>

                    <div id="ytplayer"></div>
                    <script>
                        // Load the IFrame Player API code asynchronously.
                        var tag = document.createElement('script');
                        tag.src = "https://www.youtube.com/player_api";
                        var firstScriptTag = document.getElementsByTagName('script')[0];
                        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                        // Replace the 'ytplayer' element with an <iframe> and
                        // YouTube player after the API code downloads.
                        var player;
                        function onYouTubePlayerAPIReady() {
                            player = new YT.Player('ytplayer', {
                                height: '390',
                                width: '640',
                                videoId: "@Model.YouTube.Split('=')[1]"
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>

    
</div>


